
**The Data Science Method**  


1.   [Problem Identification](https://medium.com/@aiden.dataminer/the-data-science-method-problem-identification-6ffcda1e5152)

2.   [**Data Wrangling**](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-data-collection-organization-and-definitions-d19b6ff141c4) 
  * Data Collection - Collected data from wikipedia and quandl wiki price dataset. The wikipedia showed us the currect S&P 500 companies and used their ticker symbols to query quandl wiki prices.
  * Data Organization - Done using cookiecutter
  * Data Definition 
  * Data Cleaning - The S&P 500 data from quandls wiki price is clean and ready for analysis use but has lost its support from Quandl community as of April 11, 2018. So we will use this dataset to setup the protfolio optimizer with proof of concept then use a different data source later for cost efficiencies.
 
3.   [Exploratory Data Analysis](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-exploratory-data-analysis-bc84d4d8d3f9)
 * Build data profile tables and plots
        - Outliers & Anomalies
 * Explore data relationships
 * Identification and creation of features

4.   [Pre-processing and Training Data Development](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-pre-processing-and-training-data-development-fd2d75182967)
  * Create dummy or indicator features for categorical variables
  * Standardize the magnitude of numeric features
  * Split into testing and training datasets
  * Apply scaler to the testing set
5.   [Modeling](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-modeling-56b4233cad1b)
  * Create dummy or indicator features for categorical variable
  * Fit Models with Training Data Set
  * Review Model Outcomes â€” Iterate over additional models as needed.
  * Identify the Final Model

6.   [Documentation](https://medium.com/@aiden.dataminer/the-data-science-method-dsm-documentation-c92c28bd45e6)

  * Review the Results
  * Present and share your findings - storytelling
  * Finalize Code 
  * Finalize Documentation

# Data Wrangling

We will find the current S&P 500 companies from wikipedia using the Beautiful Soup. 

- It's currently done manually with copying and pasting

## Data Collection

First, loads the needed packages and modules into Python. Then loads the data into a pandas dataframe for ease of use.

In [1]:
#load python packages
import os
import pandas as pd
import datetime
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import quandl


import dotenv
import os

%matplotlib inline

In [2]:
# prints current directory 
current_dir = os.getcwd() 
print("Current Directory: ") 
print(current_dir)

Current Directory:
/Users/jb/Development/courses/springboard/ds/Assignments/Portfolio-Optiimization/notebooks

In [4]:
# prints parent directory 
project_dir = os.path.abspath(os.path.join(current_dir, os.pardir))
print("Parent Directory: ") 
print(project_dir)

Parent Directory:
/Users/jb/Development/courses/springboard/ds/Assignments/Portfolio-Optiimization

In [5]:
print(os.listdir())

['.gitkeep', 'S&P500_Data_Wrangling.ipynb', '.ipynb_checkpoints']

### Load the data from the csv file
Read your data into a pandas dataframe. 
**Double check** that the path is correct, and that between the `file` name and the `path`, you have the full location of your `ski_data.csv`

In [10]:
sym_df = pd.read_csv(project_dir + '/data/raw/SP500_current.csv')
sym_df.head(5)

,Symbol,Security,SEC filings,GICS Sector,GICS Sub Industry,Headquarters Location,Date first added,CIK,Founded
0,BK,The Bank of New York Mellon,reports,Financials,Asset Management & Custody Banks,"New York, New York",1995-03-31,1390777,1784.0
1,TAP,Molson Coors Beverage Company,reports,Consumer Staples,Brewers,"Denver, Colorado",1976-06-30,24545,1786.0
2,STT,State Street Corp.,reports,Financials,Asset Management & Custody Banks,"Boston, Massachusetts",NaN,93751,1792.0
3,JPM,JPMorgan Chase & Co.,reports,Financials,Diversified Banks,"New York, New York",1975-06-30,19617,1799.0
4,CL,Colgate-Palmolive,reports,Consumer Staples,Household Products,"New York, New York",1957-03-04,21665,1806.0

### Get environment variables 

- quandl API key

In [22]:
dotenv_path = os.path.join(project_dir, '.env')
dotenv.load_dotenv(dotenv_path)

quandl_api_key = os.getenv("quandl_api_key")

In [23]:
sp500_df = pd.DataFrame()
for ticker in sym_df['Symbol'][:2]:
    data = quandl.get("WIKI/" + ticker, trim_start = "2014-01-01", trim_end = "2019-12-30", authtoken=quandl_api_key)
    data['Symbol'] = ticker
#     print(data)
    sp500_df = sp500_df.append(data)

In [24]:
sp500_df.head(1)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Symbol
Date,,,,,,,,,,,,,
2014-01-02,34.3,35.03,34.3,34.56,3469400.0,0.0,1.0,31.960786,32.641001,31.960786,32.203055,3469400.0,BK

In [25]:
sp500_df.tail(1)

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume,Symbol
Date,,,,,,,,,,,,,
2018-03-27,74.03,75.05,73.35,74.23,1850626.0,0.0,1.0,74.03,75.05,73.35,74.23,1850626.0,TAP

In [31]:
sp500_df.reset_index(inplace=True)

sp500_df.set_index(['Date', 'Symbol'], inplace=True)
sp500_df

,,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,Symbol,,,,,,,,,,,,
2014-01-02,BK,34.3,35.03,34.3,34.56,3469400.0,0.0,1.0,31.960786,32.641001,31.960786,32.203055,3469400.0

In [32]:
sp500_df.index

MultiIndex([('2014-01-02',  'BK'),
            ('2014-01-03',  'BK'),
            ('2014-01-06',  'BK'),
            ('2014-01-07',  'BK'),
            ('2014-01-08',  'BK'),
            ('2014-01-09',  'BK'),
            ('2014-01-10',  'BK'),
            ('2014-01-13',  'BK'),
            ('2014-01-14',  'BK'),
            ('2014-01-15',  'BK'),
            ...
            ('2018-03-14', 'TAP'),
            ('2018-03-15', 'TAP'),
            ('2018-03-16', 'TAP'),
            ('2018-03-19', 'TAP'),
            ('2018-03-20', 'TAP'),
            ('2018-03-21', 'TAP'),
            ('2018-03-22', 'TAP'),
            ('2018-03-23', 'TAP'),
            ('2018-03-26', 'TAP'),
            ('2018-03-27', 'TAP')],
           names=['Date', 'Symbol'], length=2130)

In [33]:
sp500_df.sort_index(inplace=True)
sp500_df

                    Open   High      Low  Close     Volume  Ex-Dividend  \
Date       Symbol
2014-01-02 BK      34.30  35.03  34.3000  34.56  3469400.0          0.0
           TAP     55.95  56.05  54.8500  55.22  1352700.0          0.0
2014-01-03 BK      34.61  35.34  34.5809  34.96  4000300.0          0.0
           TAP     55.36  55.44  54.7300  55.01   802600.0          0.0
2014-01-06 BK      35.28  35.66  34.8800  34.95  6204400.0          0.0
...                  ...    ...      ...    ...        ...          ...
2018-03-23 TAP     74.58  74.58  72.0700  72.16  3130090.0          0.0
2018-03-26 BK      51.49  52.29  50.8650  52.14  4679104.0          0.0
           TAP     73.00  74.25  72.5300  73.91  2568672.0          0.0
2018-03-27 BK      52.12  52.27  50.1400  50.72  5944337.0          0.0
           TAP     74.03  75.05  73.3500  74.23  1850626.0          0.0

                   Split Ratio  Adj. Open  Adj. High   Adj. Low  Adj. Close  \
Date       Symbol
2014-01-02 BK              1.0  31.960786  32.641001  31.960786   32.203055
           TAP             1.0  52.014309  52.107275  50.991687   51.335660
2014-01-03 BK              1.0  32.249645  32.929860  32.222529   32.575775
           TAP             1.0  51.465812  51.540184  50.880128   51.140432
2014-01-06 BK              1.0  32.873952  33.228036  32.501231   32.566457
...                        ...        ...        ...        ...         ...
2018-03-23 TAP             1.0  74.580000  74.580000  72.070000   72.160000
2018-03-26 BK              1.0  51.490000  52.290000  50.865000   52.140000
           TAP             1.0  73.000000  74.250000  72.530000   73.910000
2018-03-27 BK              1.0  52.120000  52.270000  50.140000   50.720000
           TAP             1.0  74.030000  75.050000  73.350000   74.230000

                   Adj. Volume
Date       Symbol
2014-01-02 BK        3469400.0
           TAP       1352700.0
2014-01-03 BK        4000300.0
           TAP        802600.0
2014-01-06 BK        6204400.0
...                        ...
2018-03-23 TAP       3130090.0
2018-03-26 BK        4679104.0
           TAP       2568672.0
2018-03-27 BK        5944337.0
           TAP       1850626.0

[2130 rows x 12 columns]

## Data Collection

### Column Names 
Prints the columns names of the entire dataframe.

In [36]:
sp500_df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'],
      dtype='object')

### Data Types 
Reviewed which columns are integer, float, categorical, or dates. Made sure the data type is loaded properly in the dataframe.

In [38]:
sp500_df.dtypes

Open           float64
High           float64
Low            float64
Close          float64
Volume         float64
Ex-Dividend    float64
Split Ratio    float64
Adj. Open      float64
Adj. High      float64
Adj. Low       float64
Adj. Close     float64
Adj. Volume    float64
dtype: object

### Data Info
The `df.info()` function also prints the count of non-null values per column. Use this function to review the column names, null value counts and data types of the data frame.

In [43]:
sp500_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2130 entries, (Timestamp('2014-01-02 00:00:00'), 'BK') to (Timestamp('2018-03-27 00:00:00'), 'TAP')
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Open         2130 non-null   float64
 1   High         2130 non-null   float64
 2   Low          2130 non-null   float64
 3   Close        2130 non-null   float64
 4   Volume       2130 non-null   float64
 5   Ex-Dividend  2130 non-null   float64
 6   Split Ratio  2130 non-null   float64
 7   Adj. Open    2130 non-null   float64
 8   Adj. High    2130 non-null   float64
 9   Adj. Low     2130 non-null   float64
 10  Adj. Close   2130 non-null   float64
 11  Adj. Volume  2130 non-null   float64
dtypes: float64(12)
memory usage: 254.4+ KB

Descriptions of Columns - decriptio from investopedia.com 

| # | Column | Description |
| --- | --- | --- |
| 0  | Open        | The price at which a stock trades when an exchange opening of the regular trading day. |
| 1  | High        | The highest price at which a stock traded during the course of the regular trading day. |
| 2  | Low         | The lowest price at which a stock traded during the course of the  regular trading day. |
| 3  | Close       | The last price at which the stock traded during the regular trading day. |
| 4  | Volume      | The number of shares of a stock traded during a given period of time. |
| 5  | Ex-Dividend | The ex-dividend date of a stock is the day on which the stock begins trading without the subsequent dividend value.
 |
| 6  | Split Ratio | A corporate action in which a company divides its existing shares into multiple shares to boost the liquidity of the shares. |
| 7  | Adj. Open   | A stock's opening price to reflect that stock's value after accounting for any corporate actions. |
| 8  | Adj. High   | A stock's high price during the course of the  regular trading day that reflect that stock's value after accounting for any corporate actions. |
| 9  | Adj. Low    | A stock's low price during the course of the  regular trading day that reflect that stock's value after accounting for any corporate actions. |
| 10 | Adj. Close  | A stock's closing price to reflect that stock's value after accounting for any corporate actions. |
| 11 | Adj. Volume | The number of shares of a stock traded during a given period of time after accounting for any corporate actions. |

In [44]:
print(sp500_df.iloc[:,:].agg([np.min, np.max]).T)

                      amin          amax
Open             31.010000  1.115000e+02
High             31.265000  1.121900e+02
Low              30.820000  1.110200e+02
Close            30.910000  1.112500e+02
Volume       293980.000000  2.092886e+07
Ex-Dividend       0.000000  4.100000e-01
Split Ratio       1.000000  1.000000e+00
Adj. Open        29.031758  1.096209e+02
Adj. High        29.270491  1.102993e+02
Adj. Low         28.853879  1.091490e+02
Adj. Close       28.938138  1.093751e+02
Adj. Volume  293980.000000  2.092886e+07

In [45]:
sp500_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Open,2130.0,6.290656e+01,2.273563e+01,31.010000,4.093500e+01,5.600500e+01,8.250000e+01,1.115000e+02
High,2130.0,6.341719e+01,2.292148e+01,31.265000,4.127125e+01,5.669500e+01,8.331500e+01,1.121900e+02
Low,2130.0,6.236861e+01,2.252686e+01,30.820000,4.065000e+01,5.563000e+01,8.188008e+01,1.110200e+02
Close,2130.0,6.290053e+01,2.272055e+01,30.910000,4.099000e+01,5.610000e+01,8.260000e+01,1.112500e+02
Volume,2130.0,3.554701e+06,2.615380e+06,293980.000000,1.396828e+06,2.951319e+06,5.086674e+06,2.092886e+07
Ex-Dividend,2130.0,4.183099e-03,3.691757e-02,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,4.100000e-01
Split Ratio,2130.0,1.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
Adj. Open,2130.0,6.116044e+01,2.261930e+01,29.031758,3.960554e+01,5.450836e+01,8.192500e+01,1.096209e+02
Adj. High,2130.0,6.165642e+01,2.280196e+01,29.270491,3.991682e+01,5.485580e+01,8.242750e+01,1.102993e+02
Adj. Low,2130.0,6.063733e+01,2.241258e+01,28.853879,3.930088e+01,5.412119e+01,8.124000e+01,1.091490e+02
Adj. Close,2130.0,6.115384e+01,2.260233e+01,28.938138,3.963136e+01,5.442590e+01,8.171585e+01,1.093751e+02
Adj. Volume,2130.0,3.554701e+06,2.615380e+06,293980.000000,1.396828e+06,2.951319e+06,5.086674e+06,2.092886e+07

## Export SP500 data to a new csv file
In order to bring the changes you made here into the next notebook, write out the updated data frame to a new csv file.

Export the processed dataframe as a csv file to the data folder created earlier. Name this new csv file `data_wrangle_sp500_df_output.csv`.

In [49]:
sp500_df.to_csv(project_dir + '/data/interim/'+ 'data_wrangle_sp500_df_output.csv', index=False)